html, body {
    margin: 0;
    padding-bottom: 20px;
    background-color:lightgrey;
    font-family: monospace;
}

#banner {
    width: 500px;    ;
    font-size: 30px;
    font-weight: bold;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

#status {
    width: 500px;    ;
    font-size: 30px;
    font-weight: bold;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}


table {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
    background-color: white;
}

td {
    width: 100px;
    height: 100px;
    padding: 0;
    border: 2px solid black;
    box-sizing: border-box;
}

.outer-div {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.inner-div {
    width: 500px;
    height: 500px;
    background-position: left top;
    background-repeat: no-repeat;
}

.outer-preview{
    width: 500px;
    height:500px;
    overflow:hidden;
}

#inner-preview {
    width: 500px;
    height:500px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:15px;
    background-repeat:no-repeat;
    background-position: left top;
}

button {
    display: block;
    width: 500px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}