
html, body {
    position: relative;
    margin:0;
    height:100%;
    min-height: 100%;
    background-color:antiquewhite;
}



#outerTable{
    margin-left:10px;
    margin-top:10px;
    border:2px solid blue;
}

.OptionLabel{
    width:300px;
    border:dashed 1px blue;

}

.OptionValue {
    width: 300px;
    border: dashed 1px blue;
}

#innerTableContainer {
    width: 800px;
    height: 800px;
}

.Table{
    width:100%;
    height:100%;
    /*border: blue 2px solid;*/
    border-collapse:collapse;
}

.Cell{
    border:1px solid lightblue;
}
